@charset "utf-8";
/* CSS Document */

#wrapper #content {
	height: 750px;
	width: 1160px;
}
#wrapper #content iframe {
	height: 744px;
	width: 1154px;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-left: 2px;
}
